.banner {
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -10;
  position: relative;
}
.banner .title {
  width: 100%;
  z-index: 0;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .title h1 {
  font-size: 3rem;
  color: aliceblue;
  text-align: center;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}
